.selectinput {
  width: 100%;
  position: relative;

  .MuiFormControl-root {
    width: 100%;

    .MuiInputLabel-root {
      background-color: white;
    }

    .css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: var(--accent) !important;
    }
  }

  .Mui-focused {
    color: var(--accent) !important;
    top: 10%;
    background-color: white;
    padding-right: 10px;
    padding-left: 5px;
  }
}