.heading-tag{
    padding: 10px 20px;
    border: 1.5px solid var(--accent);
    border-radius: calc(var(--unit)/2);
    width: fit-content;

    p{
        color: var(--accent);
        text-transform: capitalize;
    }
    
} 