.heading-tag{
    padding: 10px 20px;
   border-radius: 50px;
    width: fit-content;
    background: var(--accentbg);

    p{
        color: var(--accent);
        text-transform: capitalize;
    }
    
} 