.header-parent {
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: 10px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;

    .header-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 10%;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: calc(var(--unit) * 3);

            a {
                color: var(--accent);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 500;
            }
        }

        .links {
            display: flex;
            gap: calc(var(--unit));
            align-items: center;
            justify-content: center;

            .sell-online {
                color: var(--black);

                &:hover {
                    color: var(--accent);
                }
            }

        }

    }
}