.parent-add-products {
    margin-top: 50px;

    .cont-add-products {

        display: flex;
        flex-direction: column;
        gap: calc(var(--unit) * 7);
        align-items: center;
        justify-content: center;


        .bottom-add-products {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            .product-add-form {
                box-shadow: var(--shadow);
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: calc(var(--unit));
                border-radius: calc(var(--unit) / 2);
                width: 100%;

                .form-row {
                    display: flex;
                    width: 100%;
                }

            }
        }

        //step 2
        .add-product-main {
            display: flex;
            flex-direction: column;
            gap: calc(var(--unit));
            align-items: center;
            justify-content: center;
            width: 80%;

            .add-product-images {
                gap: calc(var(--unit));
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                .drag-images {
                    height: auto;
                    border-radius: calc(var(--unit)/2);
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--unit));

                    .drag-drop-images {
                        height: 50%;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.089);
                        border-radius: calc(var(--unit)/2);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .instructions-images {
                        height: 50%;
                        width: 100%;
                        background: rgba(0, 0, 0, 0.089);
                        border-radius: calc(var(--unit)/2);
                        display: flex;
                        padding: 10px;
                    }
                }

                .upload-images {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    background: rgba(0, 0, 0, 0.089);
                    gap: 10px;
                    border-radius: calc(var(--unit)/2);
                    padding: 10px;
                    position: relative;

                    .img-boxes {
                        background: rgba(206, 205, 205, 0.795);
                        display: flex;
                        border-radius: calc(var(--unit)/2);
                        position: relative;

                        img {
                            width: 100%;
                            aspect-ratio: 1;
                            border-radius: calc(var(--unit)/2);
                            cursor: pointer;
                        }

                    }

                    .close-btn {
                        position: absolute;
                        background-color: black;
                        top: -5px;
                        right: -5px;
                        box-shadow: var(--shadow);
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        // display: none;
                        cursor: pointer;
                        transition: var(--trans);

                        svg {
                            color: white;
                            font-size: 20px;
                        }
                    }

                }




                .hero-images {
                    height: auto;
                    aspect-ratio: 1;
                    background: rgba(0, 0, 0, 0.089);
                    border-radius: calc(var(--unit)/2);
                }
            }

            .next-prev-btn {
                display: flex;
                gap: calc(var(--unit) * 3);
            }
        }

        // step3
        .add-info-product {
            box-shadow: var(--shadow);
            padding: 20px;
            border-radius: calc(var(--unit));
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 60%;


            .info-tabs {
                display: flex;
                align-items: center;
                gap: calc(var(--unit) * 2);
                position: relative;

                span {
                    padding-bottom: 10px;
                    cursor: pointer;

                    &.active {
                        border-bottom: 2px solid var(--accent);
                    }
                }

                .add-info-product-line {
                    width: 100%;
                    height: 1px;
                    background: rgba(0, 0, 0, 0.192);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: var(--trans);
                }

            }


            .info-boxes {
                display: flex;
                gap: calc(var(--unit));
                align-items: center;
                margin-top: 10px;


                input {
                    padding: 10px;
                    border-radius: calc(var(--unit) / 2);
                    border: 1px solid rgba(0, 0, 0, 0.192);
                    outline: none;

                }

                span {
                    border-radius: 50%;
                    padding: 3px;
                    border: 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .add-other {
                display: flex;
                align-items: center;
                gap: calc(var(--unit)/2);

                span {
                    border-radius: 50%;
                    padding: 3px;
                    border: 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .description-box {
                width: 100%;
                height: 300px;
                border: 1px solid rgba(0, 0, 0, 0.192);
                border-radius: calc(var(--unit)/2);
                outline: none;
                padding: 10px;
            }

            .next-prev-btn-step3 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: calc(var(--unit) * 3);

            }
        }
    }
}