.parent-add-products {

    .cont-add-products {

        display: flex;
        flex-direction: column;
        gap: calc(var(--unit) * 7);


        .top-add-products {
            margin-top: 50px;
        }

        .bottom-add-products {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .product-add-form {
                box-shadow: var(--shadow);
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: calc(var(--unit));
                border-radius: calc(var(--unit) / 2);
                width: 100%;

                .form-row {
                    display: flex;
                    width: 100%;
                }

            }
        }

        //step 2
        .add-product-main {
            display: flex;
            flex-direction: column;
            gap: calc(var(--unit));
            align-items: center;
            justify-content: center;

            .add-product-images {
                display: flex;
                align-items: stretch;
                justify-content: center;
                gap: calc(var(--unit));
                width: 100%;

                .drag-images {
                    width: 33.33%;
                    aspect-ratio: 1;
                    border-radius: calc(var(--unit)/2);
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--unit));

                    .drag-drop-images {
                        width: 100%;
                        aspect-ratio: 6/3;
                        background: rgba(0, 0, 0, 0.089);
                        border-radius: calc(var(--unit)/2);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .instructions-images {
                        width: 100%;
                        aspect-ratio: 6/3;
                        background: rgba(0, 0, 0, 0.089);
                        border-radius: calc(var(--unit)/2);
                        display: flex;
                        padding: 10px;
                    }
                }

                .upload-images {
                    width: 33.33%;
                    aspect-ratio: 1;
                    background: rgba(0, 0, 0, 0.089);
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;
                    border-radius: calc(var(--unit)/2);
                    padding: 10px;

                    .img-boxes {
                        width: 160px;
                        aspect-ratio: 1;
                        background: rgba(255, 0, 0, 0.39);
                        display: flex;
                        border-radius: calc(var(--unit)/2);
                    }
                }

                .hero-images {
                    width: 33.33%;
                    aspect-ratio: 1;
                    background: rgba(0, 0, 0, 0.089);
                    border-radius: calc(var(--unit)/2);
                }
            }
        }

        // step3
        .add-info-product {
            box-shadow: var(--shadow);
            padding: 20px;
            border-radius: calc(var(--unit));
            display: flex;
            flex-direction: column;
            gap: 10px;


            .info-tabs {
                display: flex;
                align-items: center;
                gap: calc(var(--unit) * 2);
                position: relative;

                span {
                    padding-bottom: 10px;
                    cursor: pointer;

                    &.active {
                        border-bottom: 2px solid var(--accent);
                    }
                }

                .add-info-product-line {
                    width: 100%;
                    height: 1px;
                    background: rgba(0, 0, 0, 0.192);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: var(--trans);
                }

            }


            .info-boxes {
                display: flex;
                gap: calc(var(--unit));
                align-items: center;
                margin-top: 10px;


                input {
                    padding: 10px;
                    border-radius: calc(var(--unit) / 2);
                    border: 1px solid rgba(0, 0, 0, 0.192);
                    outline: none;

                }

                span {
                    border-radius: 50%;
                    padding: 3px;
                    border: 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .add-other {
                display: flex;
                align-items: center;
                gap: calc(var(--unit)/2);

                span {
                    border-radius: 50%;
                    padding: 3px;
                    border: 1px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }

            .description-box {
                width: 100%;
                height: 300px;
                border: 1px solid rgba(0, 0, 0, 0.192);
                border-radius: calc(var(--unit)/2);
            }

        }
    }
}