//faq
.faq-parent {
  height: auto;
  width: 100%;
  padding: 100px 0px;

  .faq-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--unit) *2);

    h2 {
      font-size: calc(var(--unit) * 2.5);
      max-width: 25ch;
      text-align: center;
    }

    .faq-main-dropdown {
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      gap: calc(var(--unit));
      flex-direction: column;
      transition: var(--trans);

      .faq-dropdown {
        border-top: 1px solid rgba(0, 0, 0, 0.13);
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        padding: calc(var(--unit)) 0px;
        display: flex;
        flex-direction: column;
        gap: calc(var(--unit) / 2 );
        width: 100%;
        transition: var(--trans);


        .faq-top {
          display: flex;
          flex-direction: column;
          gap: calc(var(--unit) / 1.5);
          transition: var(--trans);
          cursor: pointer;

          .faq-no {
            color: var(--accent);
          }

          .faq-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--accent);
            width: 100%;

            h3 {
              font-size: calc(var(--unit) * 1.4);
            }

            span {
              border-radius: 100%;
              background: var(--accent);
              padding: 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: var(--trans);

              svg {
                color: white;
                font-size: calc(var(--unit));
              }
            }

            .arrow-icon.rotate {
              transform: rotate(180deg);
            }
          }
        }

        .faq-down {
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: var(--trans);
        }


        .faq-down.open {
          max-height: 300px;
          opacity: 1;
        }
      }
    }
  }
}


//contact
.contact-parent {
  height: auto;
  width: 100%;
  padding: 100px 0px;
  background: var(--accentbg);

  .contact-cont {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 50px;
    gap: calc(var(--unit) * 2);

    .contact-info {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: calc(var(--unit));
      padding: 50px 30px;

      h4 {

        text-transform: uppercase;
        font-size: 14px;
      }

      h1 {
        font-size: calc(var(--unit) * 3);


      }

      .contact-details {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: calc(var(--unit));
        flex-wrap: wrap;


        .contact-item {
          display: flex;
          align-items: center;
          gap: 15px;
          width: 40%;
          padding: 10px;

          .icon {
            font-size: 24px;
            background: var(--white);
            padding: 10px;
            border-radius: 50%;
            color: var(--accent);
            display: flex;
            align-items: center;
            justify-content: center;
          }

          p {
            font-size: 14px;
            color: gray;
          }

          strong {
            font-size: 16px;
          }
        }
      }
    }

    .contact-form {
      width: 30%;
      background: var(--white);
      padding: 50px 30px;
      border-radius: 10px;

      h3 {
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input,
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }

        textarea {
          height: 100px;
          resize: none;
        }
      }
    }
  }
}